# for accessing Domino APIs
export DOMINO_API_HOST=
# for auth when running dev mode outside of a Domino App
export DEV_ACCESS_TOKEN=
# for setting the main Flask app's port to not 8888
export MAIN_APP_PORT=
